@model IEnumerable<KWLeLearning.Models.Student>

@{
    ViewBag.Title = "Student Details";
}



<div class="row" style="margin-top: 50px">



    <h2>Details</h2>

    <p>
        @Html.ActionLink("Create New", "Register", "Account")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", "Account", new { email = item.Email }, null)
                </td>
            </tr>
        }

    </table>
 </div>
