@model KWLeLearning.Models.LessonViewModel

@{
    ViewBag.Title = "Know";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<div class="row" style="margin-top: 50px">
    <div class="container-fluid col-md-1" id="container-style" style="height: 170px">
        <h3>Team</h3>
        <table>
            @foreach (var item in Model.Students)
            {
                <tr>
                    <td style="padding-right: 5px; padding-left:7px">@Html.DisplayFor(modelItem => item.Firstname)</td>

                    @if (item.IsLoggedIn == true)
                    {
                        <td><img src="~/images/loggedin.png" height="15" style="margin-bottom:3px" /></td>
                    }
                    else
                    {
                        <td><img src="~/images/loggedOut.png" height="15" style="margin-bottom:3px" /></td>
                    }
                </tr>
            }
        </table>
    </div>

    <div class="container-fluid col-md-8" id="container-style">
        @Html.ActionLink("Know", "Know", "Lesson", new { Password = Request["Password"], Username = Request["Username"], Team = Request["Team"] }, new { @class = " btn tab-button", @style = "float:left; margin-left: 10px" })

        @if (Model.KnowCommentCount <= 2)
        {
            @Html.ActionLink("What", "What", "Lesson", new { Password = Request["Password"], Username = Request["Username"], Team = Request["Team"] }, new { @class = "btn tab-button disabled", @style = "background-color: #d7d9db; border-bottom-color: black; float: left; margin-left:5px;" })
        }
        else
        {
            @Html.ActionLink("What", "What", "Lesson", new { Password = Request["Password"], Username = Request["Username"], Team = Request["Team"] }, new { @class = "btn tab-button", @style = "background-color: #d7d9db; border-bottom-color: black; float: left; margin-left:5px;" })
        }

        @Html.ActionLink("Learned", "Learned", "Lesson", new { Password = Request["Password"], Username = Request["Username"], Team = Request["Team"] }, new { @class = "btn tab-button disabled", @style = "background-color: #d7d9db; border-bottom-color: black;float: left; margin-left:5px" })

        <div class="container" id="know-container">

            @using (Html.BeginForm("Know", "Lesson", new { Password = Request["Password"], Colour = Request["Colour"], Team = Request["Team"] }, FormMethod.Post))
            {
                <div class="form-group">

                    <div style="margin-top: 10px">
                        <table>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.KnowComment, new { @class = "form-control", @style = "width:350px; margin-right: 5px" })</td>
                                <td><button class="btn btn-success" type="submit">Know</button></td>

                            </tr>
                        </table>
                    </div>
                </div>
            }

            <div class="container col-md-5" id="what_I_know">

                <table>
                    @foreach (var item in Model.Knows)
                    {
                        <tr class="container col-md-12" id="comments" style="background-color: @item.KnowColour">
                            <td>@Html.DisplayFor(m => item.KnowComment)</td>
                        </tr>
                    }
                </table>

            </div>

            <div class="container col-md-5" id="what_I_know">
                <a>Team Know</a>
            </div>
        </div>
    </div>

    <div class="container-fluid col-md-2" id="container-style">
        <h2>instruction</h2>
    </div>
</div>


<style>
        #container-style {
            background-color: #f5f6f7;
            border-style: solid;
            border-color: #dbd3de;
            border-width: 2px;
            height: 650px;
            margin: 5px;
            border-radius: 10px;
            text-align: center
        }
        #know-container {
            background-color: white;
            border-style: solid;
            border-color: black;
            border-width: 1px;
            height: 560px;
            width: 825px;
            margin-top: 67px;

        }

        .tab-button {
            color: #364c73;
            margin-top:30px;
            background-color: white;
            border-style: solid;
            border-color: black;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-color: white;
            border-width: 1px;
          
        }


        #what_I_know {
            background-color: #d3cbf2;
            margin-top: 5px;
            margin-left: 40px;
            border-radius: 5px;
            height: 450px;
        }

        #comments {
            border-radius: 5px;
            margin-top:5px;
            text-align:left;

        }


</style>


