@model KWLeLearning.Models.LessonViewModel

@{
    ViewBag.Title = "Know";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
    <style>
        #container-style {
            background-color: #f5f6f7;
            border-style: solid;
            border-color: #dbd3de;
            border-width: 2px;
            height: 650px;
            margin: 5px;
            border-radius: 10px;
            text-align: center
        }
        #know-container {
            background-color: white;
            border-style: solid;
            border-color: black;
            border-width: 1px;
            height: 560px;
            width: 825px;
            margin-top: 67px;
            
        }

        .tab-button {
            color: #364c73;
            margin-top:30px;
            background-color: white;
            border-style: solid;
            border-color: black;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-color: white;
            border-width: 1px;
            @*pointer-events:none;*@
        }
        #what_I_know {
            background-color: #d3cbf2;
            margin-top: 5px;
            margin-left: 40px;
            border-radius: 5px;
            height: 450px;
        }

    </style>


    <div class="row" style="margin-top: 50px">
        <div class="container-fluid col-md-1" id="container-style" style="height: 170px">
            <h3>Team</h3>
            <table>
                @foreach (var item in Model.Students)
                {
                    <tr>
                        <td style="padding-right: 5px; padding-left:7px">@Html.DisplayFor(modelItem => item.Firstname)</td>

                        @if (item.IsLoggedIn == true)
                        {
                            <td><img src="~/images/loggedin.png" height="15" style="margin-bottom:3px" /></td>
                        }
                        else
                        {
                            <td><img src="~/images/loggedOut.png" height="15" style="margin-bottom:3px" /></td>
                        }
                    </tr>
                }
            </table>
        </div>

        <div class="container-fluid col-md-8" id="container-style">
            @Html.ActionLink("Know", "Know", "Lesson", new { Password = Request["Password"], Username = Request["Username"] }, new { @class = " btn tab-button", @style = "float:left; margin-left: 10px" })
            @Html.ActionLink("What", "What", "Lesson", new { Password = Request["Password"], Username = Request["Username"] }, new { @class = "btn tab-button disabled", @style = "background-color: #d7d9db; border-bottom-color: black; float: left; margin-left:5px" })
            @Html.ActionLink("Learned", "Learned", "Lesson", new { Password = Request["Password"], Username = Request["Username"] }, new { @class = "btn tab-button disabled", @style = "background-color: #d7d9db; border-bottom-color: black;float: left; margin-left:5px" })

            <div class="container" id="know-container">

                @using (Html.BeginForm("Know", "Lesson", new { Password = Request["Password"]}, FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.KnowComment, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.KnowComment, new { @class = "form-control" })
                            <button type="submit">Know</button>

                        </div>
                    </div>
                }

                <div class="container col-md-5" id="what_I_know">
                    <a>What I Know</a>
                    <table>
                        @foreach (var item in Model.Knows)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.KnowComment)</td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="container col-md-5" id="what_I_know">
                    <a>Team Know</a>
                </div>
            </div>
        </div>

        <div class="container-fluid col-md-2" id="container-style">
            <h2>instruction</h2>
        </div>
    </div>
